<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blog-fragments/header.html :: header-fragment">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="/blog-fragments/navbar.html :: navbar-fragmet"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-9">
                <h2 th:text="${post.title}"></h2>
                <hr/>
                <h4 th:text="${post.shortDescription}"></h4>
                <hr/>
                <div th:utext="${post.content}"></div>
        </div>
        <div class="col-md-3">
            <div th:replace="~{/blog-fragments/search.html :: search-fragment}"></div>
        </div>
    </div>
</div>
<br>
<footer th:replace="/blog-fragments/footer.html :: footer-fragmet"></footer>
</body>
</html>