<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<nav th:fragment="navbar-fragmet" class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 5%">
    <a class="navbar-brand" style="margin-left: 2%" th:href="@{/admin/posts}">Spring Boot Thymeleaf Blog Application</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/admin/posts}">Posts</a>
            <a class="nav-item nav-link" th:href="@{/admin/posts/new}">Add Post</a>
            <a class="nav-item nav-link" th:href="@{/admin/posts/comments}">Comments</a>
            <form th:action="@{/logout}" method="post" role="form">
                <button class="nav-item nav-link">Logout</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>
    </div>
</nav>
</body>
</html>